* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
     "header"
     "main"
    ;
}

header {
    grid-area: header;
    background-color: red;
    font-size: 100px;
}

main {
    grid-area: main;
    background-color: green;
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
    overflow-y: auto;
    padding: 5%;
}
table td {
    border: 2px solid black;
    height: 150px;
}

#image {
    width: 10%;
}

#title {
    width: 60%;
}

#score {
    width: 10%;
}
